/* .sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
     background-color: cyan;
  }
  
  li a {
    display: block;
    width: 60px;
    background-color: cyan;
    text-decoration: none;
  } */
  /* .logo{

    padding: 6%;    
    margin: -9.5px;
    padding-top: 0;
    position: fixed;
    background: #0F1A34;

} */

.greeting {

  color: #337AB7;
  margin-left: 75%;
    
  text-decoration: none;
  padding-top: 10px;
  position: relative;
  }


  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: "Merriweather Sans", sans-serif;
    
    background: #0F1A34;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: grid;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    grid-template-columns: 24px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;

    
    
  }
  
  .sidenav a:hover {
    color: #8F91AA;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  